
.block {
	background: #fff;
	margin-bottom: 5px;
	border: 2px solid #757575;

	& > .name {
		padding: 3px 6px;
		background: #ddd;
		display: block;
		cursor: pointer;
		color: white;
	}

	&.chosen {
		border: 2px solid orange;
	}

	& > .children {
		padding: 5px 0px 2px 10px;
		background: #fff;
	}
}

.block.finished {
	background: #333;
	& > .name {
		background: #555;
	}
	& > .tags > .tag.finished {
		display: inline-block;
		background: black;
	}
}

.tag {
	display: none;
	color: white;
}

.tags {
	float: right;
	margin-top: -20px;
}

.digging > .tags > .digging.tag {
	display: inline-block;
	background: brown;
}

.nextNode > .tags > .nextNode {
	display: inline-block;
	background: purple;
}

.scanning > .tags > .tag.scanning {
	display: inline-block;
	background: blue;
}

.repeating > .tags > .tag.repeating {
	display: inline-block;
	background: yellow;
	color: black;
}

.skipping > .tags > .tag.skipping {
	display: inline-block;
	background: grey;
}

.node {
	& > .tags > .node.tag {
		display: inline-block;
		background: orange;
	}
}

.open {
	border-bottom: 8px solid green;
}

.closed {
	border-bottom: 2px solid black;
}